@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap");

:root {
  --mx: 1200px;
  --font_kr: "Noto Sans KR", sans-serif;
  --font_eg: "'SUITE', sans-serif";
  --black: #000;
  --white: #fff;
  --gray_dark: #656565;
  --gray_light: #d9d9d9;
  --grid: #ededed;
  --grid_text: #fafafa;
  --gap_10: 10px;
  --gap_20: 20px;
  --gap_30: 30px;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: auto;
}
.mw {
  max-width: var(--mx);
  width: calc(100% - 0.5rem);
  margin: auto;
}
/* header */
.gotop {
  width: 60px;
  height: 60px;
  background-image: url(../img/gotop.png);
  background-size: cover;
  position: fixed;
  bottom: 10%;
  left: 94%;
  z-index: 200;
  opacity: 0;
  transition: 0.3s;
}
.gotop.on {
  opacity: 1;
}
.sections {
  display: none;
}
.sections.on {
  display: block;
}
.sec_home {
  height: 100vh;
  position: relative;
}
.main_con {
  opacity: 0;
}
.main_con.on {
  opacity: 1;
  transition: 0.5s;
}
.hd {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.hd.on {
  opacity: 1;
  transition: 1s;
}
.gnb {
  font-family: var(--font_eg);
  font-weight: 500;
  font-size: 14px;
}
.gnb a {
  padding: 0.5rem 0;
  margin-left: 1rem;
  position: relative;
}
.gnb a::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--black);
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 25%);
  transition: 0.3s;
  opacity: 0;
}
.gnb a:hover::after {
  opacity: 1;
}
.gnb a:focus::after {
  opacity: 1;
}
/* main */
.main {
  padding: 10rem 0;
}
.main_typo {
  font-family: var(--font_kr);
  font-weight: 300;
  font-size: 100px;
  position: relative;
  line-height: 8rem;
}
.main_typo span {
  font-weight: 700;
}
.typo1 {
  display: flex;
}
.typo2 {
  position: relative;
  display: inline-flex;
}
#text_color2 {
  margin-left: -270px;
  opacity: 0;
}
#text_color2.on {
  margin-left: 0;
  opacity: 1;
  transition: 0.5s;
  animation: typo_ani 2s;
  animation-iteration-count: 1;
}
#text_color2.on #typo_ani {
  animation: reveal 2s;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: inline-flex;
  }
}
@keyframes typo_ani {
  from {
    opacity: 0;
    margin-left: -270px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
.typo2::after {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: 4px solid var(--black);
  border-radius: 50px;
  position: absolute;
  top: 70%;
  left: 100%;
}
.main_sub_con {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main_sub_con span:first-child {
  font-family: var(--font_eg);
  font-weight: 700;
  font-size: 3.75rem;
  padding-right: 1rem;
}
.main_sub_con span:last-of-type {
  font-family: var(--font_eg);
  font-weight: 400;
  font-size: 3.125rem;
}
.color_box {
  width: 45%;
  display: flex;
}
.color_box li {
  width: 20%;
  height: 4.2rem;
  margin-right: 1rem;
}
.color_box li:nth-child(1) {
  background-color: var(--white);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) inset;
}
.color_box li:nth-child(2) {
  background-color: var(--gray_light);
}
.color_box li:nth-child(3) {
  background-color: var(--gray_dark);
}
.color_box li:nth-child(4) {
  width: 40%;
  background-color: var(--black);
  margin-right: 0;
  position: relative;
}
#color_picker {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  appearance: none;
}
#color_picker:focus {
  outline: none;
}
#color_picker::-webkit-color-swatch {
  border: none;
}
.colorpicker {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5%;
  top: 15%;
  animation: color_picker 2s ease-in infinite;
}
@keyframes color_picker {
  50% {
    opacity: 0.5;
  }
}
/* sec_about */
.sec_about {
  height: 100vh;
  display: flex;
}
.about_wrap {
  display: flex;
}
.about_left {
  width: 50%;
  padding-right: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.itr > p {
  font-family: var(--font_eg);
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.per li {
  display: flex;
  width: 100%;
  padding: 0.25rem 0;
}
.per li p:nth-child(1) {
  font-family: var(--font_eg);
  color: var(--gray_dark);
  font-size: 17px;
  width: 25%;
}
.per li p:nth-child(2) {
  font-family: var(--font_kr);
  font-size: 18px;
}
.brief {
  border-top: 1px solid var(--gray_dark);
  padding-top: 1.25rem;
}
.brief p {
  font-family: var(--font_kr);
  font-size: 18px;
  line-height: 1.75rem;
}
.brief p:nth-child(1) span,
.brief p:nth-child(2) {
  font-weight: 700;
}
.brief p:nth-child(2) {
  padding-top: 1.75rem;
}
.about_right {
  width: 50%;
  padding-left: 2.25rem;
}
.about_right_con li > p {
  font-family: var(--font_eg);
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 0.25rem;
}
.work {
  padding-top: 9.375rem;
}
.work ul,
.skills ul {
  display: flex;
}
.work ul li {
  padding-right: 1.25rem;
}
.skills {
  padding: 5rem 0;
}
.skills li img {
  padding-right: 1.25rem;
}

/* sec_portfolio */
.sec_portfolio {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.pf_title_wrap {
  padding-top: 3.75rem;
}
.port_title {
  font-family: var(--font_eg);
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.pf {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.sul {
  background-image: url("../img/sul_mockup.jpg");
  position: relative;
}
.illhwa {
  background-image: url("../img/illhwa_mockup.jpg");
  background-position-y: 50%;
}
.mapsmart {
  background-image: url("../img/mapsmart_mockup.jpg");
  background-position-y: 50%;
}
.daejeon {
  background-image: url("../img/daejeon_mockup.jpg");
  background-position-y: 20%;
}
.pf li {
  width: 50%;
  height: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.pf li::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.pf li:hover::before {
  animation-name: pf_ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  height: 0;
  transition: 0.5s;
}
.pf li button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
}
.pf li .btn_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: overlay;
  z-index: 10;
  font-size: 3rem;
  font-family: var(--font_kr);
  font-weight: 900;
  color: white;
}
.pf li:hover .btn_text {
  display: none;
}
.pf li:hover button {
  opacity: 0;
}

.pf li:hover .port_desc {
  animation-name: desc_ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  top: 0;
  transition: 0.5s;
}
.port_desc {
  position: absolute;
  top: 100%;
  font-size: 1.75rem;
  font-family: var(--font_kr);
  color: var(--white);
  z-index: 20;
  font-weight: 400;
  display: flex;
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.port_desc p {
  padding-right: 1rem;
}
.port_desc span {
  background-color: var(--gray_dark);
  color: var(--gray_light);
  font-family: var(--font_eg);
  font-size: 18px;
  font-weight: 500;
  margin-right: 0.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
}

/* last section */
.section_last {
  padding-top: 3.75rem;
  position: relative;
  height: 100vh;
}
.design_work {
  position: relative;
  padding-bottom: 3.75rem;
}
.design_title {
  font-family: var(--font_kr);
  font-size: 2rem;
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
}
.design_title img {
  padding-left: 0.75rem;
}

.contact {
  background-color: var(--black);
  color: var(--white);
  position: relative;
}
.contact_title {
  font-family: var(--font_eg);
  font-size: 3rem;
  font-weight: 700;
  padding-top: 3.75rem;
  padding-bottom: 1.5rem;
}
.contact_con_li {
  padding-bottom: 0.5rem;
  font-family: var(--font_kr);
  font-size: 18px;
  color: var(--white);
  width: 30%;
  padding-left: 0.25rem;
}
.contact_con_li p {
  display: flex;
  align-items: center;
}
.contact_con_li span {
  font-family: var(--font_eg);
  font-size: 17px;
  color: #cacaca;
  width: 22%;
}
.icon_set {
  padding-top: 1.5rem;
  display: flex;
}
.icon_set li {
  background-color: var(--white);
  border-radius: 50px;
  width: 36px;
  height: 36px;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_set li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.icon_set li:nth-child(2) a img {
  width: 80%;
}
.copy {
  padding: 4rem 0;
  font-family: var(--font_kr);
  font-size: 14px;
  color: #cacaca;
  line-height: 1.5rem;
}
.bg_box {
  position: absolute;
  border-top: 1px solid var(--gray_dark);
  border-left: 1px solid var(--gray_dark);
  height: 55%;
  width: 40%;
  top: 45%;
  right: 0;
}
.bg_box::after {
  content: "";
  display: block;
  border: 1px solid var(--gray_dark);
  background-color: var(--black);
  width: 18px;
  height: 18px;
  position: absolute;
  top: -9px;
  left: -9px;
}
.window_size {
  background-color: var(--gray_dark);
  color: var(--white);
  font-size: 12px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  position: absolute;
  top: -15%;
  left: 50%;
}
.circle {
  border: 1px solid var(--gray_dark);
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.bg_box img:nth-of-type(1) {
  position: absolute;
  top: -1.5%;
  left: 33%;
}
.bg_box img:nth-of-type(2) {
  position: absolute;
  top: -1.5%;
  left: 82%;
}
.bg_box img:nth-of-type(3) {
  position: absolute;
  top: 75%;
  left: -0.5%;
}

@media (max-width: 650px) {
}
