@charset 'utf-8';

.main_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -30;
  background-color: #000;
}
.main_bg.hidden {
  background-color: white;
  transition: 1s;
}
.grid {
  z-index: -10;
  position: relative;
  height: 100%;
}
.column {
  border-left: 1px solid var(--grid);
  border-right: 1px solid var(--grid);
  height: 100%;
  width: 30px;
  position: absolute;
  animation-name: grid_column;
  animation-duration: 2s;
}
@keyframes grid_column {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
.column.grid1 {
  left: 1.2%;
}
.column.grid2 {
  left: 76.4%;
  top: -100%;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
.row {
  border-top: 1px solid var(--grid);
  border-bottom: 1px solid var(--grid);
  width: 100%;
  height: 30px;
  position: absolute;
  animation-name: grid_row;
  animation-duration: 2s;
}
@keyframes grid_row {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.row.grid1 {
  top: 29.8%;
  left: -100%;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
.row.grid2 {
  top: 69%;
  left: -100%;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
.bg_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -20;
}
.text {
  font-size: 420px;
  font-family: var(--font_kr);
  font-weight: 700;
  position: absolute;
  line-height: 0;
  color: var(--grid_text);
  animation-name: bg_text;
  animation-duration: 3s;
}
@keyframes bg_text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text.iam {
  top: 10.2%;
  left: 0.8%;
  opacity: 0;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
.text.iam span {
  padding-left: 7rem;
}
.text.co {
  top: 48.3%;
  left: 1.8%;
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.text.de {
  top: 48.8%;
  left: 77%;
  opacity: 0;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
.text.signer {
  top: 88%;
  left: 41.1%;
  opacity: 0;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
