@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 2));
  }
}
.slider {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  width: calc(200px * 12);
}
.slider .slide {
  width: 250px;
  padding: 1rem 0;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  color: #656565;
  font-weight: 500;
  font-style: italic;
}
.slider .slide:nth-child(2n) {
  font-weight: 300;
  font-style: italic;
}

/* mobile_slider */
@-webkit-keyframes mobile_scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

@keyframes mobile_scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 2));
  }
}
.mobile_slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 6.25rem;
}
.mobile_slider::before,
.mobile_slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 31.25rem;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.mobile_slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.mobile_slider::before {
  left: 0;
  top: 0;
}
.mobile_slider .mobile-track {
  animation-name: mobile_scroll;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  width: calc(250px * 8);
}
.mobile_slider .mobile_slide {
  height: 25rem;
  width: 250px;
}
.mobile_slider .mobile_slide img {
  height: 100%;
}
